body {
  background-color: antiquewhite;
}

article {
  background-color: white;
  width: 80%;
  min-width: 1000px;
  min-height: calc(100vh - 120px);
  margin: 60px auto;
  padding: 40px;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

.status__container {
  width: fit-content;
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(222, 255, 244);
}

.file__container {
  margin: 20px 0;
}

.form__button {
  display: block;
  width: 200px;
  text-align: center;
  background-color: rgb(58, 58, 188);
  color: white;
  padding: 5px 0;
  margin-top: 15px;
  font-size: small;
}

.form__input {
  padding: 3px 7px;
  border: 1px solid gray;
}

.integration__button {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(58, 58, 188);
  color: white;
}

.link {
  color: rgb(58, 58, 188);
  text-decoration: underline;
}

.dowload-log__button--container {
  margin-top: 30px;
}

/* 連携完了画面 */
.integrated__container {
  padding: 20px;
}

.integrated__container p {
  overflow-wrap: break-word;
}

/* ユーザー一覧画面 */
.user-list__item {
  border: 1px solid black;
  padding: 20px;
  margin: 5px 0;
}

.user-list__item li span {
  display: inline-block;
  min-width: 100px;
  padding-right: 10px;
  font-weight: bold;
}

/* 封筒一覧画面 */
.envelope-list__item {
  margin: 5px 0;
  height: 40px;
  background-color: rgb(222, 255, 244);
  border-radius: 5px;
}

.envelope-list__item:hover {
  background-color: rgb(246, 222, 255);
}

.envelope-list__item a {
  height: 100%;
  width: 100%;
  line-height: 40px;
  display: block;
  padding-left: 30px;
}

.envelope-list__item a span {
  padding-right: 10px;
  font-weight: bold;
}

/* 封筒情報画面 */
.envelope-info__container {
  padding: 20px;
}

.envelope-info__item {
  padding: 5px 0;
}

.envelope-info__item span {
  display: inline-block;
  min-width: 225px;
  padding-right: 10px;
  font-weight: bold;
}