body {
  background-color: antiquewhite;
}

article {
  background-color: white;
  width: 80%;
  min-width: 1000px;
  min-height: calc(100vh - 120px);
  margin: 60px auto;
  padding: 40px;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

.status__container {
  width: fit-content;
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(222, 255, 244);
}

.button {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(58, 58, 188);
  color: white;
  font-weight: bold;
}

.link {
  color: rgb(58, 58, 188);
  text-decoration: underline;
}

/* ユーザー一覧画面 */
.user-list__item {
  border: 1px solid black;
  padding: 20px;
  margin: 5px 0;
}

.user-list__item li span {
  display: inline-block;
  width: 100px;
  padding-right: 5px;
}